:root {
    /* --background-color:  #f4f4f4; */
    --secondary-color: rgba(0,0,0,0.6);
    --text-shadow: rgba(0, 0, 0, 0.5);
    --hover-color:  #b4a1b1;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    text-transform: uppercase;
}

body {
    /* background: radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%); */
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: radial-gradient(
        circle farthest-corner at center center,
        #434343,
        black 85%
      ) no-repeat;
      text-align: center;    

}

h2 {
    padding: 0 0 30px 0;
    border-bottom: 3px solid white;
    margin-bottom: 15px;
    font-size: 200%;
    text-align: center;
    position: relative;
    opacity: 1;
}

a {
    text-decoration: none;
}

/* p, h3 {
    text-decoration: none;
} */

.hover:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    }

header {
    /* display: flex;
    justify-content: center; */
    /* background-color: var(--secondary-color); */
    /* background-size: cover;
    background-attachment: fixed;
    background-position: top; */
    padding: 20px;
    top: 0;
    z-index: 9999;
    flex-wrap: wrap;
    flex: 1;
}

header h1 {
    opacity: 0.5;
    padding-bottom: 12px;
    text-shadow: 0 0 10px;
    display: flex;
    text-align:  center;
}

header nav {
    margin: 7px;
    display: flex;
    flex-direction: column;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 12px;
    text-decoration: none;
    font-size: 115%;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    /* background: #111; */
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:hover {
    text-decoration: none;
    color: white;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
    /* background: transparent; */
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* header nav ul li a:hover {
    background-color:  var(--hover-color);
    border-radius: 15px;
    text-decoration: none;
} */

footer {
    /* background-color: var(--secondary-color); */
    display: flex;
    padding: 10px 20px;
    opacity: 0.5;
    bottom: 0;
}

section {
    padding: 60px;
}

/* .header-hero-img {
    background-size: cover;
    position: relative;
    font-style: oblique;
    line-height: 1.3;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; */
/* } */

/* .header-hero-img::before {
    content: ""; */
    /* background-image: url("https://media.istockphoto.com/photos/leaves-skeleton-background-picture-id637444690?k=20&m=637444690&s=612x612&w=0&h=K0-gVqAf8kZi7CskvFnBUx-Oo60xUfy4oh7aCxZ5jW0=");
    background-size: cover; */
    /* position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.25;
} */

/* #hero {
    background: radial-gradient(
        circle closest-corner at center 125px,
        #222,
        black 85%
      ) no-repeat;
      text-align: center;    

} */
#hero-section {
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-around;
    /* text-shadow: var(--text-shadow); */
}

#hero-section p {
    background: radial-gradient(
    circle 500px,
    #ccc,
    #333
  ) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    width: 66%;
    
    /* background-color: #0000; */
    
}

/* #bio {
    background-color: var(--secondary-color);
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px 15px 40px 15px;
}

#bio-content p {
    font-size: 16px;
}

#bio p {
    background-color: #0000;
} */


/* .projects {
    position: relative;
    display: flex;
    flex-direction: column;
    color: var(--text-shadow);
    padding: 20px;
}

.projects h2 {
    margin-top: 20px;
}

.projects h3 {
    font-size: 150%;
    text-shadow: var(--text-shadow);
}

.projects  h3 , p  {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 5px 20px;
}

.projects div {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    width: 100%;
    justify-content: space-between;
    margin: 20px auto;
    flex-direction: column;
}

.projects a {
    text-decoration: none;
} */

#ez-stream {
    background: radial-gradient(#93a5cf, #e4efe9);
}

#ez-stream:hover {
    background-image: url(../images/ez-stream.gif);
    background-size: cover;
}

#ez-stream:hover a{
    text-decoration: none;
}

#fan-page {
    background: radial-gradient(#93a5cf, #e4efe9);
}

#fan-page:hover {
    background-image: url(../images/billy-joel.gif);
    background-size: cover;
}

#fan-page:hover a {
    text-decoration: none;
    /*  * This works but it shrinks the card */
    /* display: none; */
}

#work-day-scheduler {
    background: radial-gradient(#93a5cf, #e4efe9);
    background-size: cover;
    /* position: relative; */
    font-size: smaller;
}

/* #work-day-scheduler::before {
    content: "";
    background-size: cover;
    background-image: url(../images/work-day-scheduler.png);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.45;
} */

#work-day-scheduler:hover {
    background-image: url(../images/work-day-scheduler.gif);
    background-size: cover;
}

#work-day-scheduler:hover a {
    text-decoration: none;
    /*  * This works but it shrinks the card */
    /* display: none; */
}


#band-site {
    background: radial-gradient(#93a5cf, #e4efe9);
}

#band-site:hover {
    background-image: url(../images/insomnia.png);
    background-size: cover;
}

#band-site:hover a {
    text-decoration: none;
    /*  * This works but it shrinks the card */
    /* display: none; */
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: rgba(0, 0, 0, 0.4); */
    align-items: center;
}

.contact-info img {
    padding-bottom: 20px;
    height: 50%;
    width: 50%;
}

.contact-info form {
    padding: 10px;
}

.contact-info label {
    font-size: 20px;
}

.contact-info input {
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    /* background-color: rgba(255, 255, 255, 0.75); */
    border-radius: 15px;
}

.contact-info button {
    width: 50%;
    border: none;
    border-radius: 10px;
    /* background-color: rgba(0, 0, 0, 0.15); */
    color: var(--secondary-color);
    text-align: center;
    padding: 5px 0;
    font-size: 16px;
}

@media screen and (min-width: 768px) {
    header {
        flex: 1;
        justify-content: space-between;
    }

    #bio-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #projects div {
        padding: 60px;
        margin: 10px auto;
        border-style: none;
    }

    #contact h2 {
        font-size: 100%;
    }

    #contact-info-form {
        display: flex;
        align-items: flex-end;
    }

    .contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: rgba(0, 0, 0, 0.4); */
    padding: 60px 30px 10px;
    }

    .contact-info-content {
        display: flex;
        justify-content: center;
        height: 50%;
    }

    .contact-info img {
        width: 35%;
        height: 90%;
    }

    #contact {
        font-size: 150%;
        flex-grow: 0.5;
    }
}

@media screen and (min-width: 980px) {
    .header-hero-img {
        padding-bottom: 60px;
    }

    #hero-section {
        padding-bottom: 60px;
    }

    #hero-section p {
        font-size: 20px;
    }

    #bio {
        padding-bottom: 60px;
    }
    #bio p {
        font-size: 20px;
    }

    .contact-info {
        justify-content: space-around;
    }
}

/* ! outline for img */
/*
#contact-info img {
    height: 320px;
    width: 220px;
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
    margin: auto;
    padding-bottom: 20px;
}